p {
	font-size:16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

a:link{
	text-decoration:none;
	color: #ffffff;
}
 
.btnor {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 1px #ad5f05;
  -moz-box-shadow: 0px 1px 1px #ad5f05;
  box-shadow: 0px 1px 1px #ad5f05;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  background: #f8931d;
  padding: 10px 10px 10px 17px;
  text-decoration: none;
}

.btnor:hover {
  background: #d17a17;
  text-decoration: none;
}

.btn-primary {
   	background-color: #1d2878;
   	background-image: none;
   	margin-right: auto;
    margin-left: auto;
    margin-top:25px;
}

.btn-primary:hover {
   	background-color: #17216a;
   	background-image: none;
    color: #ffffff;
}

.container {
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.rwd {
	width: 100%;
    height: auto;
    display: block;
}

.container img {
	padding-down:15px;
}

.top-header {
  	padding-top:5px;
  	padding-bottom:5px;
	background: #f1f1f1;	
}

.top-header .col-sm-2 span{
  text-align:left;
}

.top-header .row span{
  padding-top:10px;
}  

.top-nav {
  	padding-top:10px;
  	padding-bottom:10px;
	background: #ffffff;	
	border: none;
}

.navbar {
	border: none;
  box-shadow: none;
}

.container-fluid {
  background-color: #fff;
  box-shadow:none;
}

.glyphicon-earphone {
	margin-right:10px;
}

.glyphicon-envelope {
	margin-right:10px;
}

.main-box .box {
	margin-top: 20px;
}

.main-box a .box p {
	padding: 10px;
  color: #909090;
}

.main-box a .box span {
	font-size:16px;
	padding: 10px;
	font-weight:600;
	color: #1d2878;
}

.cert-wrapper .container {
	padding-bottom: 30px;
	margin-top: 30px;
	font-size: 18px;
	color: #909090;
}

.cert-wrapper span {
	color: #1d2878;
}

.info-wrapper {
	padding-top: 30px;
	padding-bottom: 40px;
	margin-top: 50px;
	background: #f1f1f1;	
	font-size: 18px;
	color: #909090;
}

.info-wrapper span {
	color: #f8931d;
}

.info-wrapper .row .btn-primary {
	float:right;
}

footer .container a {
  color: #999999;
  margin-right:5px;
  margin-left:5px;
  font-size: 15px;
}

footer .container a:last-child {
  margin-right:0px;
}

footer nav {
 text-align:right;
}

footer .container {
  color: #999999;
  font-size: 15px;
  padding-top:15px;
  padding-bottom:30px;
}

@media screen and (min-width: 0px) and (max-width: 769px) {
  .top-header { display: none; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 769px) {
  #carousel-example-generic { display: none; }   /* hide it elsewhere */
}

@media screen and (min-width: 769px) {
  #mobile-img { display: none; }  /* show it on small screens */
}
@media screen and (min-width: 0px) and (max-width: 769px) {
  #mobile-img { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 769px) {
  footer nav { display: none; }   /* hide it elsewhere */
}